$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
    top: -30px;
    font-size: 22px;
    color: $main-color;

    @media (max-height: 700px) {
        font-size: 1.6rem;
        top: -17px
    }
}

.group {
    position: relative;
    margin: 45px 0;

    @media (max-height: 700px) {
        margin: 25px 0;
    }

    .form-input {
        background: none;
        background-color: white;
        color: $sub-color;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $sub-color;

        @media (max-height: 700px) {
            padding: 5px 10px;
            font-size: 1.6rem;
        }

        &:focus {
            outline: none;
        }

        &:focus~.form-input-label {
            @include shrinkLabel();
        }

        &--error {
            border: 1px solid #b40e0e;
            background-color: #fddddd;
        }
    }

    input[type='password'] {
        letter-spacing: 0.3em;
    }

    .form-input-label {
        color: $sub-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;

        @media (max-height: 700px) {
            top: 6px;
        }

        &.shrink {
            @include shrinkLabel();
        }
    }
}

.error {
    color: #b40e0e;
    font-size: 1.4rem;
}